<section>
    <!-- Main: Footer  -->
    <section class="full-width link-widgets u-padding-t-80 u-padding-b-80">
        <div class="container">
            {% if lang=="en" %}
            <div class="widgets-inner">
                <div class="c-col">
                    <div class="widget widget--transparent-box">
                        <div class="widget__title">
                            <h4>Category 1</h4>
                        </div>
                        <ul class="link-lists" alt="category">
                            <li><a href="#">Words Stories</a></li>
                            <li><a href="#">TED</a></li>
                            <li><a href="#">Movies</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Music</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-col">
                    <div class="widget widget--transparent-box">
                        <div class="widget__title">
                            <h4>Languages</h4>
                        </div>
                        <ul class="link-lists" alt="tags">
                            <li><a href="#">French</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-col">
                    <div class="widget widget--transparent-box">
                        <div class="widget__title">
                            <h4>Latest</h4>
                        </div>
                        <ul class="link-lists" alt="tags">
                            <li><a href="#">Popular videos</a></li>
                            <li><a href="#">Popular audios</a></li>
                            <li><a href="#">Latest videos</a></li>
                            <li><a href="#">Latest audios</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-col">
                    <div class="widget widget--transparent-box">
                        <div class="widget__title">
                            <h4>My Score</h4>
                        </div>
                        <ul class="link-lists">
                            <li><a href="#">My Score</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="widgets-inner">
                <div class="c-col">
                    <div class="widget widget--transparent-box">
                        <div class="widget__title">
                            <h4>Catégorie 1</h4>
                        </div>
                        <ul class="link-lists" alt="category">
                            <li><a href="#">Histoires de mots</a></li>
                            <li><a href="#">TED</a></li>
                            <li><a href="#">Films</a></li>
                            <li><a href="#">Des gamins</a></li>
                            <li><a href="#">La musique</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-col">
                    <div class="widget widget--transparent-box">
                        <div class="widget__title">
                            <h4>Les langues</h4>
                        </div>
                        <ul class="link-lists" alt="tags">
                            <li><a href="#">French</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-col">
                    <div class="widget widget--transparent-box">
                        <div class="widget__title">
                            <h4>Latest</h4>
                        </div>
                        <ul class="link-lists" alt="tags">
                            <li><a href="#">Vidéos populaires</a></li>
                            <li><a href="#">Audios populaires</a></li>
                            <li><a href="#">Dernières vidéos</a></li>
                            <li><a href="#">Dernières audios</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-col">
                    <div class="widget widget--transparent-box">
                        <div class="widget__title">
                            <h4>Mon score</h4>
                        </div>
                        <ul class="link-lists">
                            <li><a href="#">Mon score</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <footer class="footer">
        <div class="footer__end footer__end--dark">
            <div class="container">
                <div class="footer__copyright u-padding-t-15">
                    <p class="u-font13">© 2018</p>
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
</html>
