<!DOCTYPE html>
<html class="html" lang="en">
<head>
    <title>Listen And Write</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Listen and Write - Language Dictation"/>
    <meta name="keywords" content="dictation,english,listening,writing,listen,write,learn,speaking"/>
    <title>Listen and Write</title>
    <link rel="shortcut icon" type="image/png" href="#"/>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800" rel="stylesheet">

    <link rel="stylesheet" media="screen" href="/listen/vendor/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" href="/listen/src/css/newstoday.css"/>
    <link rel="stylesheet" media="screen" href="/listen/vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" media="screen" href="/listen/src/css/style_1.css"/>
    <link rel="stylesheet" media="screen" href="/listen/src/css/style_2.css"/>

    <script type="text/javascript" src="/listen/vendor/js/jquery.min.js"></script>
    <script type="text/javascript" src="/listen/src/js/load-content.js"></script>
    <script type="text/javascript" src="/listen/src/js/search.js"></script>
    <script type="text/javascript" src="/listen/src/js/chart.js"></script>
    <script src="http://localhost/listen/vendor/Chart/Chart.min.js"></script>
    <script type="text/javascript" src="/listen/src/js/load-lang.js"></script>
</head>
<body>
<header class="header header--style-one">
    <div class="header__status color-gray has-border">
        <div class="container">
            {% if lang == 'en' %}
            <div class="row">
                <div class="col-8 col-sm-6">
                    <ul class="header__status__items header__status__items--left">
                        <li class="d-none d-xl-block d-lg-block" style="font-weight:bold">Welcome to
                            listen-and-write
                        </li>
                    </ul>
                </div>

                <div class="col-4 col-sm-6">
                    <ul class="header__status__items header__status__items--right">
                        <li class="header__status__social d-none d-xl-block d-lg-block">
                        <li class="header__status__social d-none d-xl-block d-lg-block">
                            <a href="/listen/upload"><i class="fa fa-pencil-square-o"></i>Submit a new audio!</a>
                        </li>
                        <li class="has-dropdown"><a href="#">Languages</a>
                            <ul class="menu-dropdown">
                                <li class="choose-lang"><a href="#" id="lang-en">English</a></li>
                                <li class="choose-lang"><a href="#" id="lang-fr">French</a></li>
                            </ul>
                        </li>
                        </li>
                        {% if username!='' %}
                        <li class="header__status__login cursor-pointer" data-toggle="modal"
                            data-target="#usermodal">
                            <a href="#">Hello <b>{{username}}</b></a>
                        </li>
                        {% else %}
                        <li class="header__status__social d-none d-xl-block d-lg-block">
                            <a href="views/login/signup.html"><i class="fa fa-user-plus"></i>Sign Up</a>
                        </li>
                        <li class="header__status__login cursor-pointer" data-toggle="modal"
                            data-target="#usermodal">
                            <i class="fa fa-lock" aria-hidden="true"></i><a href="views/login/index.html">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div> <!--//.row en-->
            {% else %}
            <div class="row">
                <div class="col-8 col-sm-6">
                    <ul class="header__status__items header__status__items--left">
                        <li class="d-none d-xl-block d-lg-block" style="font-weight:bold">Bienvenue à
                            listen-and-write
                        </li>
                    </ul>
                </div>

                <div class="col-4 col-sm-6">
                    <ul class="header__status__items header__status__items--right">
                        <li class="header__status__social d-none d-xl-block d-lg-block">
                        <li class="has-dropdown"><a href="#">Les langues</a>
                            <ul class="menu-dropdown">
                                <li class="choose-lang"><a href="#" id="lang-en">English</a></li>
                                <li class="choose-lang"><a href="#" id="lang-fr">French</a></li>
                            </ul>
                        </li>
                        </li>
                        {% if username!='' %}
                        <li class="header__status__login cursor-pointer" data-toggle="modal"
                            data-target="#usermodal">
                            <a href="#">Bonjour <b>{{username}}</b></a>
                        </li>
                        {% else %}
                        <li class="header__status__social d-none d-xl-block d-lg-block">
                            <a href="views/login/signup.html"><i class="fa fa-user-plus"></i>S'inscrire</a>
                        </li>
                        <li class="header__status__login cursor-pointer" data-toggle="modal"
                            data-target="#usermodal">
                            <i class="fa fa-lock" aria-hidden="true"></i><a
                                href="views/login/index.html">S'identifier</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div> <!--//.row fr-->
            {% endif %}
        </div>
    </div> <!--//.header__status -->

    <div class="header__logo has-banner u-padding-tb-20">
        <div class="container">
            <div class="row u-flex--item-center">
                <div class="col-md-9 d-none d-md-block">
                    <div class="header__banner" alt="870x70">
                        <img src="/listen/src/image/logo.png" alt="Listen and Write">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-nav">
        <div class="container">
            <div class="dark-bg">
                <div class="row u-flex--item-center">
                    <div class="col-md-6 col-6">
                        {% if lang=='en' %}
                        <nav class="header__nav text-left has-bg d-none d-lg-block">
                            <ul>
                                <li><a href="/listen/home" id="home-content">Home</a></li>
                                <li><a href="/listen/audios" id="audios-content">Audios</a></li>
                                <li><a href="/listen/youtube" id="youtube-content">Youtube</a></li>
                                <!--<li><a href="/grade/learning">Level Test</a></li>-->
                                <!--<li><a href="/group">Groups</a></li>-->
                                <!--<li><a href="/play">Numbers</a></li>-->
                                {% if username!='' %}
                                <li class="has-dropdown"><a href="#">My Account</a>
                                    <ul class="menu-dropdown">
                                        <li><a href="/listen/my-score">My Score</a></li>
                                        <li><a href="/listen/my-account">My Account</a></li>
                                        <li><a href="/listen/backend/php/log_out.php">Log out</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                                <!--<li><a href="/audio/archive">Archive</a></li>-->
                            </ul>
                        </nav>
                        {% else %}
                        <nav class="header__nav text-left has-bg d-none d-lg-block">
                            <ul>
                                <li><a href="/listen/home" id="home-content">Maison</a></li>
                                <li><a href="/listen/audios" id="audios-content">Audios</a></li>
                                <li><a href="/listen/youtube" id="youtube-content">Youtube</a></li>
                                <!--<li><a href="/grade/learning">Level Test</a></li>-->
                                <!--<li><a href="/group">Groups</a></li>-->
                                <!--<li><a href="/play">Numbers</a></li>-->
                                {% if username!='' %}
                                <li class="has-dropdown"><a href="#">Mon compte</a>
                                    <ul class="menu-dropdown">
                                        <li><a href="/listen/my-score">Mon score</a></li>
                                        <li><a href="/listen/my-account">Mon compte</a></li>
                                        <li><a href="/listen/backend/php/log_out.php">Connectez - Out</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                                <!--<li><a href="/audio/archive">Archive</a></li>-->
                            </ul>
                        </nav>
                        {% endif %}
                    </div>

                    <div class="col-md-6 col-6">
                        <div class="header__search">
                            <input type="text" style="border: 1px slategrey solid" id="search-text" value="">
                            <button class="header__search__btn JS-search-trigger"><i class="fa fa-search"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Mobile menu area start -->
<div class="mobile-menu-area">
    <div class="btn-wrap">
        <button id="JS-closeButton"><i class="ico-close"></i></button>
    </div>
    <div class="search-form">
        <form action="/search/search" id="cse-search-box">
            <input type="hidden" name="cx" value="partner-pub-0119806589085646:q21c5azenjj"/>
            <input type="hidden" name="cof" value="FORID:11"/>
            <input type="hidden" name="ie" value="UTF-8"/>
            <input placeholder="Search Here" type="text" name="q">
            <button onclick="console.log('search')"><i class="ico-search"></i></button>
        </form>
    </div>
    <nav class="mobile-menu">
        <ul>
            <li><a class="no-child" href="/">Home</a></li>
            <li><a class="no-child" href="/audio/level">Levels</a></li>
            <li><a class="no-child" href="/youtube">Youtube</a></li>
            <li><a class="no-child" href="/grade/learning">Level Test</a></li>
            <li><a class="no-child" href="/group">Groups</a></li>
            <li><a class="no-child" href="/play">Numbers</a></li>
        </ul>
    </nav>
</div><!--// Mobile menu area end -->
